<br>



<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body bg-secondary text-white">
        <form #empresaForm="ngForm">
            <div class="form-group row">
                <label for="nroRuc" class="col-form-label col-sm-2">Nro de RUC</label>
                <div class="col-sm-6">
                    <input type="text"
                            class="form-control"
                            id = "nroRuc"
                            [(ngModel)] = "empresa.nroIdentificacion"
                            name="nroRuc"                            
                            required minlength="11" maxlength="20" #nroRuc="ngModel"
                    >

                    <div class="alert alert-danger" *ngIf="nroRuc.invalid && (nroRuc.dirty || nroRuc.touched)">
                        <div *ngIf="nroRuc.errors?.required">
                          Numero de Ruc es requerido
                        </div>
                        <div *ngIf="nroRuc.errors?.minlength">
                          Numero de Ruc debe tener al menos 11 caracteres
                        </div>
                        <div *ngIf="nroRuc.errors?.maxlength">
                            Numero de Ruc debe tener como maximo 20 caracteres
                          </div>
                    </div>




                </div>

            </div>
    <br>

    <div class="form-group row">
      <label for="codigo_Empresa" class="col-form-label col-sm-2">Codigo Empresa</label>
      <div class="col-sm-6">
          <input type="text"
                  class="form-control"
                  id = "codigoEmpresa"
                  [(ngModel)] = "empresa.codigoEmpresa"
                  name="codigoEmpresa" 
                                        
                  required  maxlength="20" #codigoEmpresa="ngModel"
          >

          <div class="alert alert-danger"  *ngIf="codigoEmpresa.invalid && (codigoEmpresa.dirty || codigoEmpresa.touched)">
            <div *ngIf="codigoEmpresa.errors?.required">
              Codigo de Empresa es requerido
            </div>
       
            <div *ngIf="nroRuc.errors?.maxlength">
              Codigo de Empresa debe tener como maximo 20 caracteres
              </div>


        </div>




      </div>

  </div>
    




    <br>
            <div class="form-group row">
                <label for="nroRuc" class="col-form-label col-sm-2">Razón Social</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control"
                            id = "razonSocial"
                            [(ngModel)] = "empresa.nombreEmpresa"
                            name="razonSocial"                             
                            required #razonSocial="ngModel"
                            >


                    <div class="alert alert-danger" *ngIf="razonSocial.invalid && (razonSocial.dirty || razonSocial.touched)">
                        <div *ngIf="razonSocial.errors?.required">
                                  Razon Social es requerido
                        </div>

                    </div>

                    
                </div>     
            </div>
            <br>

            <div class="form-group row">
              <label for="estado_Empresa" class="col-form-label col-sm-2">Estado Empresa</label> 
              <div class="col-sm-6">
 

            

                  <ng-template [ngIf]="empresa.estado==='A'" [ngIfElse]="inactivo">
                  <div>
                    <select name="estadoEmpresa" class="form-control" [(ngModel)] = "empresa.estado">
                      <option value="A"  selected >Activo</option>
                      <option value="I"   >Inactivo</option>
                    </select>
                  </div>
                </ng-template>

                <ng-template #inactivo>
                  <div>
                    <select name="estadoEmpresa" class="form-control" [(ngModel)] = "empresa.estado">
                      <option value="A"   >Activo</option>
                      <option value="I"  selected >Inactivo</option>
                    </select>
                  </div>
                </ng-template>
                
             
              </div>

        
        
              </div>
        
         
            <!--
            <div class="form-group row">
                <label for="nroRuc" class="col-form-label col-sm-2"> Direccion Principal </label>
                <div class="col-sm-6">
                        <input type="text"
                                class="form-control"
                                id = "direccPrincipal"
                                [(ngModel)] = "empresa.direccPrincipal"
                               required #direccPrincipal = "ngModel"
                                name="direccPrincipal">
                        <div class="alert alert-danger" *ngIf="direccPrincipal.invalid && (direccPrincipal.dirty || direccPrincipal.touched)">
                            <div *ngIf="direccPrincipal.errors?.required">
                                    Direccion es requerido
                            </div>
            
                        </div>
                </div>

            </div>
    -->
            <br>
          <div class="form-group row" style="text-align: center;">
            <div class="col-sm-6">
              <button class="btn btn-primary" role="button" (click)='guardarEmpresa()' *ngIf="!empresa.idEmpresa else elseBlock" >Crear Empresa</button>
    
              <ng-template #elseBlock>
                <button class="btn btn-primary" role="button" (click)='actualizarEmpresa()' [disabled]="!empresaForm.form.valid">Editar Empresa</button>
              </ng-template>
            </div>
          </div>
    
           
    
      
        </form>

    </div>
</div>
       
<ul class="alert alert-danger" *ngIf="totErrores > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  


