
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="listar-empresas" routerLinkActive="active" class="nav-link">
                 Lista de Empresas 
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-empresa" routerLinkActive="active" class="nav-link">
                 Registrar empresa 
            </a>
        </li>
    </ul>
</nav>


<div class="container">
    <router-outlet>  </router-outlet>   
</div>
