

<div class="card border-primary mb-3">
  <div class="card-header">Empresas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de empresas</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/empresas/registrar']">
          Crear Empresa
      </button>
    </div>
    <div *ngIf="totalEmpresas == 0" class="alert alert-info">
       No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="totalEmpresas > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>Codigo Empresa</th>
          <th>Nro Ruc</th>
          <th>Razon Social</th>
          <th>Estado</th>      
           
           <th>editar</th>
           <th>eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas">
          <td>{{empresa.idEmpresa}}</td>
          <td>{{empresa.codigoEmpresa}}</td>
          <td>{{empresa.nroIdentificacion}}</td>
          <td>{{empresa.nombreEmpresa}}</td>          
          <td >{{empresa.descEstado}}</td> 
          <td>
            <button type="button" name="editar" [routerLink]="['/empresas/actualizar', empresa.idEmpresa]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='eliminarEmpresa(empresa)' class="btn btn-danger btn-sm">eliminar</button>
          </td>




        </tr>
      </tbody>
    </table>

  </div>
</div>